
@{
    ViewBag.Title = "ConstraintMarked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/App/controller.js"></script>
</head>
<body ng-app="app" ng-controller="constraintMarkedCtrl">
    <br />
    <div class="panel panel-default" ng-init="fetchData()" style="overflow-x:auto;">

        <div class="panel-heading">
            <center>
                <h4>
                    İşaretlenmiş Kısıtlar
                </h4>
            </center>
        </div>
        <div class="panel-body" ng-if="!uploading">
            <div class="spin-container">
                <div class="spin" id="loader"></div>
                <div class="spin" id="loader2"></div>
                <div class="spin" id="loader3"></div>
                <div class="spin" id="loader4"></div>
                <span id="text">Yükleniyor...</span>
            </div>
        </div>
        <div class="panel-body" ng-if="uploading">

            <div class="row">

                <div class="col-lg-6">

                    <div class="form-group pull-left">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicModal1">
                            Seçilenleri Arşivle
                        </button>
                        <button type="button" ng-click="chosenAll()" class="btn btn-info">
                            <span ng-bind="choseAll ? 'Tümünü Seç' : 'Tümünü Seçme'"></span>
                        </button>
                        <label><input id="searchTextID" type="text" class="form-control" ng-model="searchText" style="font-weight: normal" placeholder="Ara..." /></label>
                    </div>
                </div>
              
                <div class="col-lg-6">
                    <div class="form-group pull-right">
                        <button type="button" ng-click="Export()" class="btn btn-success">
                            Excel Aktar
                        </button>
                        Sayfalar
                        <label>
                            <select class="form-control" ng-model="itemsPerPage" style="font-weight: normal">
                                <option ng-value="5">5</option>
                                <option ng-value="10">10</option>
                                <option ng-value="25">25</option>
                                <option ng-value="50">50</option>
                            </select>
                        </label>

                    </div>
                </div>

            </div>
            
            <br />

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Seç
                        </th>
                        <th ng-click="sortBy('aboveLine')">
                            Hat Bilgisi
                            <span class="glyphicon" ng-show="sortColumn=='aboveLine'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('dateCurrent')">
                            Girildiği Tarih
                            <span class="glyphicon" ng-show="sortColumn=='dateCurrent'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('chargePerson')">
                            Sorumlu Birey
                            <span class="glyphicon" ng-show="sortColumn=='chargePerson'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('companyTeam')">
                            Firma-Takım
                            <span class="glyphicon" ng-show="sortColumn=='companyTeam'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('materialText')">
                            Malzeme Tanımı
                            <span class="glyphicon" ng-show="sortColumn=='materialText'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('materialCode')">
                            Malzeme Kodu
                            <span class="glyphicon" ng-show="sortColumn=='materialCode'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('productCode')">
                            Ürün Kodu
                            <span class="glyphicon" ng-show="sortColumn=='productCode'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('amount')">
                            Plandaki Miktar
                            <span class="glyphicon" ng-show="sortColumn=='amount'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('plannedDate')">
                            Plan Tarihi
                            <span class="glyphicon" ng-show="sortColumn=='plannedDate'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('delayAmount')">
                            Öteleme Miktarı
                            <span class="glyphicon" ng-show="sortColumn=='delayAmount'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('delayDate')">
                            Ötelenecek Tarih
                            <span class="glyphicon" ng-show="sortColumn=='delayDate'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('delayReason')">
                            Öteleme Sebebi
                            <span class="glyphicon" ng-show="sortColumn=='delayReason'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>

                        <th ng-click="sortBy('delayDetail')">
                            Öteleme Açıklama
                            <span class="glyphicon" ng-show="sortColumn=='delayDetail'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('version')">
                            Hat Bilgisi
                            <span class="glyphicon" ng-show="sortColumn=='version'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th>
                            İşaretten Çıkar
                        </th>
                        <th>
                            Sil
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in constraintList  | orderBy: sortColumn: reverse | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage|filter:searchText ">
                        <td>
                            {{i.id}}
                        </td>
                        <td>
                            <center>
                                <input class="checkbox" style=" width: 30px; height: 30px;" type="checkbox" ng-click="i.isMarked = !i.isMarked" ng-model="i.isMarked" data-toggle="modal" data-target="#basicModal">
                            </center>

                        </td>
                        <td>
                            {{i.aboveLine}}
                        </td>
                        <td>
                            {{i.dateCurrent}}
                        </td>
                        <td>
                            {{i.chargePerson}}
                        </td>
                        <td>
                            {{i.companyTeam}}
                        </td>
                        <td>
                            {{i.materialText}}
                        </td>
                        <td>
                            {{i.materialCode}}
                        </td>
                        <td>
                            {{i.productCode}}
                        </td>
                        <td>
                            {{i.amount}}
                        </td>
                        <td>
                            {{i.plannedDate}}
                        </td>
                        <td>
                            {{i.delayAmount}}
                        </td>
                        <td>
                            {{i.delayDate}}
                        </td>
                        <td>
                            {{i.delayReason}}
                        </td>
                        <td>
                            {{i.delayDetail}}
                        </td>
                        <td>
                            {{i.version}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" ng-click="updateConstraintForNoMarked(i)">
                                Çıkar
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="deleteDelay(i)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>

                    </tr>
                    <tr ng-if="!constraintList || constraintList.length == 0">
                        <td colspan="17" style="text-align:center">
                            <h3>Tablo Boş <i class="glyphicon glyphicon-ban-circle" style="color:red"></i></h3>
                        </td>
                    </tr>

                </tbody>

            </table>

            <div class="row">
                <div class="col-lg-6">
                    <div class="pull-left">
                        <br />

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pull-right">
                        <ul uib-pagination total-items="constraintList.length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" boundary-links="true" num-pages="numPages"></ul>
                    </div>
                </div>
            </div>
            <div class="modal fade " id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <center><h4 class="modal-title" id="myModalLabel"></h4></center>
                        </div>
                        <div class="modal-body">
                            <center>
                                <h4>Seçilenler arşivlenmeden önce toplantı sayfalarına aktarılsın  mı?</h4>
                            </center>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnSave" class="btn btn-success" value="Sil" ng-click="sendToArchive()" data-dismiss="modal">Evet</button>
                            <button type="button" id="btnSave" class="btn btn-danger" value="Sil" ng-click="sendToArchiveWithoutMeeting()" data-dismiss="modal">Hayır</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>


