
@{
    ViewBag.Title = "ExcelMontage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/App/controller.js"></script>
</head>
<body ng-app="app" ng-controller="excelMontageCtrl">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <center>
                <h4>
                    Montaj-Üretim Planı Yükleyiniz
                </h4>
            </center>
        </div>

        <div class="panel-body" ng-if="!uploading">
            <div class="spin-container">
                <div class="spin" id="loader"></div>
                <div class="spin" id="loader2"></div>
                <div class="spin" id="loader3"></div>
                <div class="spin" id="loader4"></div>
                <span id="text">Yükleniyor...</span>
            </div>
        </div>
        <div class="panel-body" ng-if="uploading">
            <br />
            <input type="file" id="file1" name="file" multiple
                   ng-files="getTheFiles($files)" />

        </div>
        <div class="panel-footer" ng-if="uploading">
            <center>

                <input class="btn btn-primary" type="submit" name="Submit" ng-click="uploadFiles()" value="Yükle"  />
            </center>
        </div>

    </div>
   
</body>
</html>


