
@{
    ViewBag.Title = "ProductTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/App/controller.js"></script>
</head>
<body ng-app="app" ng-controller="productTreeCtrl">
    <br />

    <div class="panel panel-default" ng-init="getData()" style="overflow-x:auto;">

        <div class="panel-heading">
            <center>
                <h4>
                    Ürün Ağacı
                </h4>
            </center>
        </div>
        <div class="panel-body" ng-if="!uploading">
            <div class="spin-container">
                <div class="spin" id="loader"></div>
                <div class="spin" id="loader2"></div>
                <div class="spin" id="loader3"></div>
                <div class="spin" id="loader4"></div>
                <span id="text">Yükleniyor...</span>
            </div>
        </div>
        <div class="panel-body" ng-if="uploading">

            <div class="row">

                <div class="col-lg-6">
                    <div class="form-group pull-left">
                        <label>Ara</label>
                        <label>
                            <input type="text" class="form-control" ng-model="searchText" style="font-weight: normal" />
                        </label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group pull-right">
                        Sayfalar
                        <label>
                            <select class="form-control" ng-model="itemsPerPage" style="font-weight: normal">
                                <option ng-value="5">5</option>
                                <option ng-value="10">10</option>
                                <option ng-value="25">25</option>
                                <option ng-value="50">50</option>
                            </select>
                        </label>

                    </div>
                </div>

            </div>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th ng-click="sortBy('productCode')">
                            Ürün Kodu
                            <span class="glyphicon" ng-show="sortColumn=='productCode'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('productText')">
                            Ürün Metni
                            <span class="glyphicon" ng-show="sortColumn=='productText'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('higherCode')">
                            Üst Kodu
                            <span class="glyphicon" ng-show="sortColumn=='higherCode'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('higherCodeText')">
                            Üst Kod Metni
                            <span class="glyphicon" ng-show="sortColumn=='higherCodeText'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('materialCode')">
                            Malzeme Kodu
                            <span class="glyphicon" ng-show="sortColumn=='materialCode'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('materialText')">
                            Malzeme Metni
                            <span class="glyphicon" ng-show="sortColumn=='materialText'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('amount')">
                            Miktar
                            <span class="glyphicon" ng-show="sortColumn=='amount'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('mip')">
                            Mip
                            <span class="glyphicon" ng-show="sortColumn=='mip'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('tob')">
                            Tob
                            <span class="glyphicon" ng-show="sortColumn=='tob'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('mtu')">
                            Mtu
                            <span class="glyphicon" ng-show="sortColumn=='mtu'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in productTree | orderBy: sortColumn: reverse | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage |filter:searchText">
                        <td>
                            {{i.id}}
                        </td>
                        <td>
                            {{i.productCode}}
                        </td>
                        <td>
                            {{i.productText}}
                        </td>
                        <td>
                            {{i.higherCode}}
                        </td>
                        <td>
                            {{i.higherCodeText}}
                        </td>
                        <td>
                            {{i.materialCode}}
                        </td>
                        <td>
                            {{i.materialText}}
                        </td>
                        <td>
                            {{i.amount}}
                        </td>
                        <td>
                            {{i.mip}}
                        </td>
                        <td>
                            {{i.tob}}
                        </td>
                        <td>
                            {{i.mtu}}
                        </td>

                    </tr>
                    <tr ng-if="!productTree || productTree.length == 0">
                        <td colspan="10" style="text-align:center">
                            <h3>Tablo Boş <i class="glyphicon glyphicon-ban-circle" style="color:red"></i></h3>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-6">
                    <div class="pull-left">
                        <br />

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pull-right">
                        <ul uib-pagination total-items="productTree.length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" boundary-links="true" num-pages="numPages"></ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>




