
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/App/controller.js"></script>
</head>
<body ng-app="app" ng-controller="userListCtrl">
    <br />
    <div class="panel panel-default" ng-init="getData()">

        <div class="panel-heading">
            <center>
                <h4>
                    Kullanıcılar
                </h4>
            </center>
        </div>
        <div class="panel-body" ng-if="!uploading">
            <div class="spin-container">
                <div class="spin" id="loader"></div>
                <div class="spin" id="loader2"></div>
                <div class="spin" id="loader3"></div>
                <div class="spin" id="loader4"></div>
                <span id="text">Yükleniyor...</span>
            </div>
        </div>
        <div class="panel-body" ng-if="uploading">

            <div class="row">

                <div class="col-lg-6">
                    <div class="form-group pull-left">

                        <label>Ara</label>
                        <label>
                            <input type="text" class="form-control" data-ng-model="searchText" style="font-weight: normal" />
                        </label>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group pull-right">
                        Sayfalar
                        <label>
                            <select class="form-control" ng-model="itemsPerPage" style="font-weight: normal">
                                <option ng-value="5">5</option>
                                <option ng-value="10">10</option>
                                <option ng-value="25">25</option>
                                <option ng-value="50">50</option>
                            </select>
                        </label>

                    </div>
                </div>

            </div>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th ng-click="sortBy('userType')">
                            Hesap Türü
                            <span class="glyphicon" ng-show="sortColumn=='userType'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('email')">
                            Sicil No
                            <span class="glyphicon" ng-show="sortColumn=='email'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th ng-click="sortBy('userName')">
                            Ad-Soyad
                            <span class="glyphicon" ng-show="sortColumn=='userName'" ng-class="{'glyphicon-triangle-top': !reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                        </th>
                        <th>
                            Düzenle
                        </th>

                        <th>
                            Sil
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in userList | orderBy: sortColumn: reverse | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage |filter:searchText">
                        <td>
                            {{i.id}}
                        </td>
                        <td>
                            {{i.userType}}
                        </td>
                        <td>
                            {{i.email}}
                        </td>
                        <td>
                            {{i.userName}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" ng-click="UpdateData(i)" data-toggle="modal" data-target="#basicModalUpdate" >
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>

                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="deleteMethod(i)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="!userList || userList.length == 0">
                        <td colspan="12" style="text-align:center">
                            <h3>Tablo Boş</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-6">
                    <div class="pull-left">
                        <br />

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pull-right">
                        <ul uib-pagination total-items="userList.length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" boundary-links="true" num-pages="numPages"></ul>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="basicModalUpdate" tabindex="-1" role="dialog" aria-labelledby="basicModalUpdate" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Kullanıcı Düzenle</h4>
                        </div>
                        <div class="modal-body">
                            <br />

                            <form ng-if="!control">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2 control-label">Hesap Türü:</label>
                                        <div class="col-lg-10">
                                            <select class="form-control" ng-model="userType" ng-options="x for x in ['Yönetici','Kullanıcı']">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2"><i class=" glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" id="userName" placeholder="Ad ve Soyad giriniz..." aria-describedby="basic-addon2" ng-model="userName">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class=" glyphicon glyphicon-plus"></i></span>
                                <input type="text" class="form-control" id="email" placeholder="Sicil giriniz..." aria-describedby="basic-addon1" ng-model="email">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class=" glyphicon glyphicon-lock"></i></span>
                                <input type="text" class="form-control" id="password" placeholder="Şifre giriniz..." aria-describedby="basic-addon1" ng-model="password">
                            </div>
                            <br />
                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" id="btnSaveUpdate" class="btn btn-info" ng-click="updateMethod()" data-dismiss="modal">Düzenle</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
<script>
         controlUserToken = function (i) {
             if (i.userID === `@HttpContext.Current.Session["ID"].ToString()`)
                 return false;
             return true
        };
</script>